* {
  margin: 0;
  padding: 0;
}

.main {
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* padding: 20px */
}

.login_form {
  border: 1px solid rgb(110, 109, 109);
  display: inline-block;
  width: 27rem;
  height: auto;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: .6rem;
}

.registration_form {
  border: 1px solid rgb(110, 109, 109);
  display: inline-block;
  width: 27rem;
  height: auto;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: .6rem;

}

.Forget_Password_form {
    border: 1px solid rgb(110, 109, 109);
    display: inline-block;
    width: 27rem;
    height: auto;
    padding: 25px;
    margin-bottom: 10px;
    text-align: center;
  border-radius: .6rem;

  }
  .Forget_Password_form > h3 {
      color:  rgb(0, 153, 255);
      margin-bottom: 10px;
  }

.showError {
  text-align: center;
  margin-bottom: 20px !important;
}
.btn_container_one {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.newUser {
  border: none;
  background-color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.logIn {
  width: 100%;
  cursor: pointer;
  margin-top: 10px !important;
}

.send {
    width: 100%;
    cursor: pointer;
    margin-top: 10px !important;
    border-radius: .5rem;
  }

.btn_container_two {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.exist {
  border: none;
  background-color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.Register {
  width: 100%;
  cursor: pointer;
  margin-top: 10px !important ; 
}

p {
  color: red;
}
