* {
  margin: 0;
  padding: 0;
}
.nav-container-one{
  display: flex;
  align-items: center;
}
.search-bar{
  flex: 1;
  width: 60px;
}
.main {
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* padding: 20px */
}

.login_form {
  border: 1px solid rgb(110, 109, 109);
  display: inline-block;
  width: 27rem;
  height: auto;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: .6rem;
}

.registration_form {
  border: 1px solid rgb(110, 109, 109);
  display: inline-block;
  width: 27rem;
  height: auto;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: .6rem;

}

.Forget_Password_form {
    border: 1px solid rgb(110, 109, 109);
    display: inline-block;
    width: 27rem;
    height: auto;
    padding: 25px;
    margin-bottom: 10px;
    text-align: center;
  border-radius: .6rem;

  }
  .Forget_Password_form > h3 {
      color:  rgb(0, 153, 255);
      margin-bottom: 10px;
  }

.showError {
  text-align: center;
  margin-bottom: 20px !important;
}
.btn_container_one {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.newUser {
  border: none;
  background-color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.logIn {
  width: 100%;
  cursor: pointer;
  margin-top: 10px !important;
}

.send {
    width: 100%;
    cursor: pointer;
    margin-top: 10px !important;
    border-radius: .5rem;
  }

.btn_container_two {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.exist {
  border: none;
  background-color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.Register {
  width: 100%;
  cursor: pointer;
  margin-top: 10px !important ; 
}

p {
  color: red;
}
/* navbar component */
.navbar {
  width: 100vw;
  height: 90px;
  background-color: rgb(126, 125, 125);
}

.search_input {
  width: 476px;
  height: 61px;
}

.sideBar_content  {
  background-color: #efefef;
  margin-bottom: 3px;
}
.layOut {
  margin: 40px 200px;
  display: flex;
  justify-content: space-around;
}

/* cards */

.blog_posts {
width: 625px;
height: 145px;
border: 1px solid #efefef;
margin-top: 60px;
display: flex;
justify-content: start;
padding: 12px 15px;
margin-left: 30px;
}
.posts_icon{
  width: 45px;
  height: 43px;
  border: 1px solid blue;
  text-align: center;
  margin: 3px;
}
.posts_details {

  margin-left: 10px;
}
.posts_details> h3 {
  font-weight: 500;
font-size: 16px;
line-height: 19px;
/* position: absolute; */
width: 68px;
height: 19px;
  
}
.posts_details> h5 {
width: 112px;
height: 14px;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
color: #696969;
}

.posts_details> h2 {
  width: 510px;
height: 23px;
left: 456px;
top: 254px;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #000000;
margin-top: 10px;
margin-bottom: 10px;
}
.tags > span {
  /* size: 10px; */
  width: 23px;
  height: 12px;
  
margin-top:80px ;
}
.tag-1 ,.tag-2 ,.tag-3 {
  margin: 3px;
  background-color: #A5FFE4;
  size: 4px;
  border-radius: .5rem;
  padding: 5px;
  
}
.futter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-left: .3rem;  */
}
.like-comments {
  width: 58px;
height: 12px;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
color: #000000;
display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.like-comments > span {
margin-left:5px;
margin-right:5px;
}

.btn > span {
  margin-right:10px ;
}

/* adds */
.adds_container{
  box-sizing: border-box;
  margin-left: 30px;
}
.img_container {
width: 270px;
height: 138px;
left: 1071px;
top: 154px;

/* background: url(.jpg), #FFFFFF; */
border: 1px solid #EFEFEF;
}
.adds_heading {
  /* Forem for Android is here */
width: 275px;
height: 28px;
left: 1071px;
top: 307px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #000000;
margin-top: 10px;
}
.adds_details {
  box-sizing: border-box;
width: 270px;
height: 380px;
left: 1071px;
top: 367px;
background: #FFFFFF;
border: 1px solid #EFEFEF;
border-radius: 5px;

}
.add_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #EFEFEF;
  
}
.see_all_btn{
width: 47px;
height: 19px;
left: 1279px;
top: 373px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #AEB1FF;
}
.add_details {
width: 245px;
height: 38px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #9D9D9D;
margin: 10px;
border: 1px solid #EFEFEF;


}